@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@100&family=Playfair+Display:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
::selection{
  background-color: #f34f3f;
  color: white;
}

/* Navbar Style Start */
@media (min-width: 1202px) {
  header {
    width: 100%;
    height: 100px;
    align-items: center;
    text-align: left;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    background-color: white;
    font-family: Montserrat, sans-serif #1b1b1b;
    font-size: 16px;
    font-weight: 400;
    position: sticky;
    z-index: 2;
  }
  header #menu .fa-bars-open, .fa-times-close {
    display: none;
  }
  #logo img {
    width: 150px;
    height: 35px;
    padding-bottom: 15px;
  }
  #menu .nav-menu .primary-menu-li:hover .home-sub-menu {
    display: block;
    opacity:1;
    z-index: 99999;
    width: 200px;
  }
  .nav-menu {
    list-style: none;
    display: flex;
  }
  .nav-menu .primary-menu-li {
    list-style: none;
    display: block;
    align-items: center;
    color: #1b1b1b;
    padding: 0 26px;
    position: relative;
  }
  .nav-menu li a {
    color: black;
  }
  #menu .fa-caret-down {
    display: none;
  }
  .home-sub-menu {
    position: absolute;
    left: 0px;
    width: 200px;
    top: 275%;
    align-items: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    background-color: white;
    z-index: 100;
    display: none;
    opacity: 0;
  }
  .pages-sub-menu {
    position: absolute;
    left: 0px;
    width: 150px;
    top: 275%;
    align-items: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    background-color: white;
    z-index: 100;
    display: none;
    opacity: 0;
  }
  /* navbar blog sub menu */
  #menu .shop-sub-menu {
    left: -475px;
    width: 1100px;
    position: absolute;
    z-index: 1000;
    background-color: #ffffff;
    line-height: 30px;
    display: none;
    top: 275%;
  }
  #menu .nav-menu .primary-menu-li:hover .shop-sub-menu {
    display: block;
    opacity:1;
  }
  #menu .shop-sub-menu h6 {
    font-family: "Playfair Display", serif;
    font-size: 22px;
    text-transform: none;
    line-height: 1.1em;
    color: #1b1b1b;
  }
  /* navbar blog sub menu son*/
  /*Navbar Search */
  .search-sub-menu {
    position: absolute;
    left: -264.973px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    align-items: center;
    z-index: 31;
    line-height: 200%;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    top: 275%;
    display: none;
  }
  #menu .search-sub-menu input, button {
    background-color: white;
    border: none;
    outline: none;
  }
  #menu .search-sub-menu input {
    width: 250px;
  }
  #menu .search .fa-search {
    transform: rotateY(180deg);
  }
  /*Navbar Seaarch  son*/
  
  #menu .fa-caret-right {
    display: none;
  }
  #menu a {
    text-decoration: none;
  }
  #menu .primary-menu-li ul li a {
    color: #737373;
  }
  #menu .primary-menu-li ul li a::after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background: #737373;
    transition: 400ms;
  }
  #menu .primary-menu-li ul li a:hover::after {
    width: 60%;
  }
  #menu .primary-menu-li > a {
    padding: 45px 12px;
  }
  .nav-menu .primary-menu-li:hover .pages-sub-menu {
    display: block;
    opacity: 1;
  }
  .nav-menu:hover {
    cursor: pointer;
  }
}
@media (max-width: 1203px) {
  header {
    width: 100%;
    height: 69px;
    align-items: center;
    display: flex;
    /* z-index: 1; */
    background-color: white;
  }
  #menu {
    width: 0;
    max-width: 0;
    min-width: 0;
    padding: 0;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #111;
    box-sizing: border-box;
    transition: 0.5s;
    background-color: #fff;
  } */
  /*SwipeSlider */
  #collage-slider-section .swiper-button-next, .swiper-button-prev {
    display: none;
  }
  /*Swipe Slider Son */
  #menu .primary-menu-li .shop-sub-menu {
    display: none;
  }
  #menu .nav-menu li {
    margin: 24px;
  }
  #menu .shop-sub-menu h6 {
    text-transform: uppercase;
    cursor: pointer;
    color: #8b8b8b;
  }
  #menu .primary-menu-li .shopping-cart-m {
    display: none;
  }
  #menu .primary-menu-li .shop-sub-menu .row {
    display: block !important;
  }
  #menu .shop-sub-menu ul li {
    display: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  #menu .shop-sub-menu ul li a {
    color: #8b8b8b;
  }
  #menu .home-sub-menu ul li {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  #menu .home-sub-menu ul li a {
    color: #8b8b8b;
  }
  #menu .pages-sub-menu ul li {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  #menu .pages-sub-menu ul li a {
    color: #8b8b8b;
  }
  #logo img {
    width: 212px !important;
    height: 25px !important;
  }
  #menu .fa-times {
    position: fixed;
    top: 3%;
    right: 5%;
    color: #f34f3f;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  #menu .fa-bars {
    position: fixed;
    top: 3%;
    right: 5%;
    color: #6d6a6a;
    font-size: 22px;
    cursor: pointer;
  }
  #menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  #menu a {
    text-decoration: none;
    color: #0e0e0e;
    font-weight: 500;
  }
  #menu .fa-caret-right {
    display: inline;
  }
  #menu .fa-caret-down {
    display: none;
  }
  #menu .home-sub-menu, .pages-sub-menu {
    display: none;
  }
  #menu .search, .cart {
    display: none;
  }
}
  
  /*Navbar Seaarch  son*/
  
  #menu .fa-caret-right {
    display: none;
  }
  #menu a {
    text-decoration: none;
  }
  #menu .primary-menu-li ul li a {
    color: #737373;
  }
  #menu .primary-menu-li ul li a::after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background: #737373;
    transition: 400ms;
  }
  #menu .primary-menu-li ul li a:hover::after {
    width: 60%;
  }
  #menu .primary-menu-li > a {
    padding: 45px 12px;
  }
  .nav-menu .primary-menu-li:hover .pages-sub-menu {
    display: block;
    opacity: 1;
  }
  .nav-menu:hover {
    cursor: pointer;
    z-index: 99999;
  }

@media (max-width: 1203px) {
  header {
    width: 100%;
    height: 69px;
    align-items: center;
    display: flex;
    z-index: 99999;
    background-color: white;
  }
  #menu {
    width: 0;
    max-width: 0;
    min-width: 0;
    padding: 0;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #111;
    box-sizing: border-box;
    transition: 0.5s;
    background-color: #fff;
  } */
  /*SwipeSlider */
  #collage-slider-section .swiper-button-next, .swiper-button-prev {
    display: none;
  }
  /*Swipe Slider Son */
  #menu .primary-menu-li .shop-sub-menu {
    display: none;
  }
  #menu .nav-menu li {
    margin: 24px;
  }
  #menu .shop-sub-menu h6 {
    text-transform: uppercase;
    cursor: pointer;
    color: #8b8b8b;
  }
  #menu .primary-menu-li .shopping-cart-m {
    display: none;
  }
  #menu .primary-menu-li .shop-sub-menu .row {
    display: block !important;
  }
  #menu .shop-sub-menu ul li {
    display: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  #menu .shop-sub-menu ul li a {
    color: #8b8b8b;
  }
  #menu .home-sub-menu ul li {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  #menu .home-sub-menu ul li a {
    color: #8b8b8b;
  }
  #menu .pages-sub-menu ul li {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  #menu .pages-sub-menu ul li a {
    color: #8b8b8b;
  }
  #logo img {
    width: 212px !important;
    height: 25px !important;
  }
  #menu .fa-times {
    position: fixed;
    top: 3%;
    right: 5%;
    color: #f34f3f;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  #menu .fa-bars {
    position: fixed;
    top: 3%;
    right: 5%;
    color: #6d6a6a;
    font-size: 22px;
    cursor: pointer;
  }
  #menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  #menu a {
    text-decoration: none;
    color: #0e0e0e;
    font-weight: 500;
  }
  #menu .fa-caret-right {
    display: inline;
  }
  #menu .fa-caret-down {
    display: none;
  }
  #menu .home-sub-menu, .pages-sub-menu {
    display: none;
  }
  #menu .search, .cart {
    display: none;
  }
}
/* Navbar Style Son */

/* Slide start  */

#slider .owl-carousel .item .owl-text-overlay {
  position: absolute;
  padding-top: 8vw;
  padding-left: 11vw;
}
#slider .owl-carousel .item .owl-text-overlay h2 {
  font-family: "Playfair Display";
  font-size: 41px;
  font-weight: 400;
  user-select:none;
}
#slider .owl-carousel .item .owl-text-overlay h2 span {
  color: red;
}
#slider .owl-carousel .item .owl-text-overlay p {
  font-family: Lora;
  font-weight: 400;
  font-size: 17px;
  color: rgb(109, 106, 106);
  user-select: none;
}
#slider .owl-carousel .item .owl-text-overlay img {
  width: 40%;
}
#slider .owl-carousel .both {
  font-size: 26px;
  font-weight: 300;
  position: relative;
  bottom: 22vw;
  color: #afafaf;
  background-color: none;
}
#slider .owl-carousel .both:hover {
  background-color: none;
}
#slider .owl-carousel .left {
  right: 700px;
  display: flex;
  justify-content: start;
  padding-top: 70px;
}
#slider .owl-carousel .right {
  left: 700px;
  display: flex;
  justify-content: end;
}
/* Slider end  */




/*  Product Section start */
.products-tab{
  padding-top: 20px;
}


#pills-tabContent *
{
    border: none!important;
}

#pills-tabContent  .add-to-cart a:hover
{
   color: #f34f3f;
}
.products-tab li button :hover{
  color: #f34f3f
}
#pills-tabContent .card:hover .add-tocart-hover
{
  display: block!important;
  color:  #afafaf;
  margin-left: 30%!important;
}
#pills-tabContent .card:hover  .product-price 
{
  display:none!important;
}

#pills-tabContent img
{
    transition: transform 0.3009s ease-in-out!important;
    cursor: pointer;
}
#pills-tabContent .card:hover img
{  
    transform: scale(1.1);
}

#pills-tabContent .product-price{
    color: #afafaf;
}

.filter-product
{
    position: absolute;
    left: 85%;
    cursor: pointer;
}

.filter h6
{
    font-size: 22px;
    line-height: 1.363em;
}
.filter ul li a
{
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
    color: #8b8b8b;
}
.filter ul li a:hover
{
    color: #f34f3f;
}
.filter 
{
    display: none;
    position: absolute;
    left: 63%;
    margin-top: 25px;
    z-index: 100;
}
/* Product Section son */

.video {
  background-color: #f7f7f7;
  margin: 15px 0;
}

.video .video-img {
  width: 650px;
  height: 420px;
  margin: 120px 0;
  transition: all 0.4s;
}

.video .video-img:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.video .play-icon {
  color: red;
  background-color: white;
  position: absolute;
  left: 250px;
  top: 280px;
  padding: 35px 45px;
  border-radius: 50%;
  font-size: 25px;
}

.video .play-video {
  overflow: hidden;
  position: relative;
}

.video .video-button {
  color: red;
  background-color: transparent;
  border: none;
}

.video .video-word {
  margin: 120px 0px;
  padding: 0 90px;
  font-family: "Playfair Display";
}

.video .video-word .video-p-word {
  margin-top: 27px;
  color: #959393;
  font-family: "Lora";
}

.video {
  background-color: #f7f7f7;
  margin: 15px 0;
  box-sizing: border-box;
}
.video .video-img {
  width: 650px;
  height: 420px;
  margin: 120px 0;
  transition: all 0.4s;
}
.video .video-img:hover {
  cursor: pointer;
  transform: scale(1.03);
}
 .video .play-icon {
  color: red;
  background-color: white;
  position: absolute;
  left: 250px;
  top: 280px;
  padding: 35px 45px;
  border-radius: 50%;
  font-size: 25px;
}
.video .play-video {
  overflow: hidden;
  position: relative;
}
.video .video-button {
  color: red;
  background-color: transparent;
  border: none;
} 
.video .video-word {
  margin: 120px 0px;
  padding: 0 90px;
  font-family: "Playfair Display";
}
.video .video-word .video-p-word {
  margin-top: 27px;
  color: #959393;
  font-family: "Lora";
}

 /* flower expert section start */

.flower-experts h2 {
  margin: 20px 0;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-align: center;
  margin-top: 140px;
}

.flower-experts p {
  font-family: Lora, serif;
  text-align: center;
  color: #6d6a6a;
}

.flower-experts-team {
  margin-top: 50px;
  padding-bottom: 40px;
  text-align: center;
}

.flower-experts-team .team-img h6 {
  color: #1b1b1b;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 30px;
}

.flower-experts-team .team-img span {
  display: block;
  font-size: 12px;
  color: #afafaf;
  margin: 2px 0 4px;
}

.flower-experts-team .team-img .col-3 {
  margin-top: 20px;
  margin-bottom: 70px;
}
.flower-experts h2 {
  margin: 20px 0;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-align: center;
  margin-top: 140px;
}

.flower-experts p {
  font-family: Lora, serif;
  text-align: center;
  color: #6d6a6a;
}

.flower-experts-team {
  margin-top: 50px;
  padding-bottom: 40px;
  text-align: center;
}

.flower-experts-team .team-img h6 {
  color: #1b1b1b;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 30px;
}

.flower-experts-team .team-img span {
  display: block;
  font-size: 12px;
  color: #afafaf;
  margin: 2px 0 4px;
}

.flower-experts-team .team-img .col-3 {
  margin-top: 20px;
  margin-bottom: 70px;
}
 /* flower expert section end */

 /* colorfull brunch start */
.colorfull-brunch {
  padding-top: 150px;
  background-image: url("https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-background-img.jpg");
  background-position: 50% -121px;
  background-attachment: fixed;
  overflow: hidden;
  height: 500px;
  background-repeat: no-repeat;
  position: static;
}

.colorfull-brunch .colorfull-brunch-text h3 {
  font-size: 30px;
  line-height: 1.4em;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.form-subscribe {
  display: flex;
  justify-content: center;
  margin-left: 390px;
  padding-top: 30px;
}

.form-subscribe .form input {
  width: 467px;
  margin: 0 0 15px;
  padding: 19px 18px;
  font-family: Montserrat, sans-serif;
  line-height: 20px;
  font-weight: inherit;
  border: 1px solid #1f1010;
  border-radius: 0;
  outline: 0;
  /* -webkit-appearance: none; */
  color: #959595;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(232, 232, 232, 1);
}

.form-subscribe .form2 {
  margin-left: 120px;
}
.form-subscribe .form2 .form-sub {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 24px;
  background: #f34f3f;
  color: #fff;
  font-weight: 500;
  padding-top: 0;
  padding-bottom: 0;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  margin-left: 120px;
  border: none;
  padding: 0px 33px;
  letter-spacing: 1px;
}
/* colorfull brunch end */
 /* blog section start */

.blog {
  background-color: #f7f7f7;
  padding-bottom: 98px;
}

.blog .blog-text {
  text-align: center;
  padding-top: 98px;
}

.blog .blog-text h2 {
  font-size: 38px;
  line-height: 1.447em;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  padding-bottom: 20px;
}

.blog .blog-text p {
  font-family: Lora, serif;
  color: #6d6a6a;
  font-size: 17px;
  padding-bottom: 40px;
}

.cont-blog .img-blog img {
  max-width: 100%;
  height: auto;
}

.img-blog {
  position: relative;
}

.cont-blog .img-blog span {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: rgb(5, 5, 5);
  background-color: rgb(255, 255, 255);
  line-height: 1em;
  padding: 12px 16px 10px;
  font-family: "Montserrat", sans-serif;
}

.cont-blog .row .blog-img-text h5 {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  color: #2b2b2b;
  margin-top: 28px;
  text-align: center;
}

.cont-blog .row .blog-img-text p {
  font-family: Lora, serif;
  font-size: 15px;
  color: #6d6a6a;
  text-align: center;
  margin-top: 20px;
}
 /* blog section end */


 /* Team Slider start  */
.user-options {
  padding: 90px 0;
  /* width: 200%; */
}

.user-options img {
  margin: 30px 44%;
}

.user-options .users-word {
  font-family: "Lora";
  font-style: italic;
  color: #4b4747;
  font-size: 24px;
}

.user-options .user-name {
  text-align: center;
  color: black;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  margin-top: 30px;
}

.user-options .user-work {
  font-size: 12px;
  line-height: 24px;
  text-transform: none;
  color: #afafaf;
  text-align: center;
  display: block;
  font-size: 14px;
}
 /* Team Slider end */



 /* footer side start */
 footer {
  background-color: #fefaf3;
}

.container-holder {
  padding-top: 90px;
}

.container-holder .row .holder-header {
  color: #1b1b1b;
  font-family: 'Lora', serif;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.container-holder .row .holder-header h6 {
  font-size: 12px;
  padding-bottom: 15px;
}

.container-holder .row .holder-text .menu li {
  list-style: none;
  font-size: 12px;
  color: #8b8b8b;
  font-family: 'Lora', serif;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-left: -32px;
  cursor: pointer;
}

.container-holder .row .holder-text .menu li:hover {
  color: #f34f3f;
}

.line hr {
  height: 1px;
  width: 1300px;
  padding-left: 50px;
  margin-top: 100px;
  color: #afafaf;
}

.container-conclusion{
  padding-top: 25px;
  padding-bottom: 25px;
}

.container-conclusion .row .text-widget .all-rights-reserved {
  list-style: none;
  font-size: 12px;
  color: #8b8b8b;
  font-family: 'Lora', serif;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.container-conclusion .row .text-widget .qode-int{
  list-style: none;
  font-size: 12px;
  color: #6d6a6a;
  font-family: 'Lora', serif;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.container-conclusion .insta a {
  list-style: none;
  font-size: 12px;
  color: #8b8b8b;
  font-family: 'Lora', serif;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-decoration: none;
  margin-left: 195px;
}

.container-conclusion .fb a {
  list-style: none;
  font-size: 12px;
  color: #8b8b8b;
  font-family: 'Lora', serif;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-decoration: none;
  margin-left: 60px;
}

.container-conclusion .footer-img img{
  margin-left: 110px;
}

.container-conclusion .social-media{
  display: flex;
}
 /* footer side end */
