@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@100&family=Playfair+Display:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* Navbar Style Start */
@media (min-width: 1202px) {
  header {
    width: 100%;
    height: 100px;
    align-items: center;
    text-align: left;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    background-color: white;
    font-family: Montserrat, sans-serif black;
    position: fixed;
  }
  header #menu .fa-bars-open, .fa-times-close {
    display: none;
  }
  #logo img {
    width: 150px;
    height: 35px;
    padding-bottom: 15px;
  }
  #menu .nav-menu .primary-menu-li:hover .home-sub-menu {
    display: block;
    opacity:1;
  }
  .nav-menu {
    list-style: none;
    display: flex;
  }
  .nav-menu .primary-menu-li {
    list-style: none;
    display: block;
    align-items: center;
    color: #1b1b1b;
    padding: 0 26px;
    position: relative;
    /* font-family: Montserrat, sans-serif; */
  }
  .nav-menu li a {
    color: black;
  }
  #menu .fa-caret-down {
    display: none;
  }
  .home-sub-menu {
    position: absolute;
    left: 0px;
    width: 220%;
    top: 275%;
    align-items: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    background-color: white;
    z-index: 100;
    display: none;
    opacity: 0;
  }
  .pages-sub-menu {
    position: absolute;
    left: 0px;
    width: 220%;
    top: 275%;
    align-items: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    background-color: white;
    z-index: 100;
    display: none;
    opacity: 0;
  }
  /* navbar blog sub menu */
  #menu .shop-sub-menu {
    left: -475px;
    width: 1100px;
    position: absolute;
    z-index: 1000;
    background-color: #ffffff;
    line-height: 30px;
    display: none;
    top: 275%;
  }
  #menu .nav-menu .primary-menu-li:hover .shop-sub-menu {
    display: block;
    opacity:1;
  }
  #menu .shop-sub-menu h6 {
    font-family: "Playfair Display", serif;
    font-size: 22px;
    text-transform: none;
    line-height: 1.1em;
    color: #1b1b1b;
  }
  /* navbar blog sub menu son*/
  /*Navbar Search */
  .search-sub-menu {
    position: absolute;
    left: -264.973px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    align-items: center;
    z-index: 31;
    line-height: 200%;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    top: 275%;
    display: none;
  }
  #menu .search-sub-menu input, button {
    background-color: white;
    border: none;
    outline: none;
  }
  #menu .search-sub-menu input {
    width: 250px;
  }
  #menu .search .fa-search {
    transform: rotateY(180deg);
  }
  /*Navbar Seaarch  son*/
  
  #menu .fa-caret-right {
    display: none;
  }
  #menu a {
    text-decoration: none;
  }
  #menu .primary-menu-li ul li a {
    color: #737373;
  }
  #menu .primary-menu-li ul li a::after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background: #737373;
    transition: 400ms;
  }
  #menu .primary-menu-li ul li a:hover::after {
    width: 60%;
  }
  #menu .primary-menu-li > a {
    padding: 45px 12px;
  }
  .nav-menu .primary-menu-li:hover .pages-sub-menu {
    display: block;
    opacity: 1;
  }
  .nav-menu:hover {
    cursor: pointer;
  }
}
@media (max-width: 1203px) {
  header {
    width: 100%;
    height: 69px;
    align-items: center;
    display: flex;
    /* z-index: 1; */
    background-color: white;
  }
  #menu {
    width: 0;
    max-width: 0;
    min-width: 0;
    padding: 0;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #111;
    box-sizing: border-box;
    transition: 0.5s;
    background-color: #fff;
  } */
  /*SwipeSlider */
  #collage-slider-section .swiper-button-next, .swiper-button-prev {
    display: none;
  }
  /*Swipe Slider Son */
  #menu .primary-menu-li .shop-sub-menu {
    display: none;
  }
  #menu .nav-menu li {
    margin: 24px;
  }
  #menu .shop-sub-menu h6 {
    text-transform: uppercase;
    cursor: pointer;
    color: #8b8b8b;
  }
  #menu .primary-menu-li .shopping-cart-m {
    display: none;
  }
  #menu .primary-menu-li .shop-sub-menu .row {
    display: block !important;
  }
  #menu .shop-sub-menu ul li {
    display: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  #menu .shop-sub-menu ul li a {
    color: #8b8b8b;
  }
  #menu .home-sub-menu ul li {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  #menu .home-sub-menu ul li a {
    color: #8b8b8b;
  }
  #menu .pages-sub-menu ul li {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  #menu .pages-sub-menu ul li a {
    color: #8b8b8b;
  }
  #logo img {
    width: 212px !important;
    height: 25px !important;
  }
  #menu .fa-times {
    position: fixed;
    top: 3%;
    right: 5%;
    color: #f34f3f;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  #menu .fa-bars {
    position: fixed;
    top: 3%;
    right: 5%;
    color: #6d6a6a;
    font-size: 22px;
    cursor: pointer;
  }
  #menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  #menu a {
    text-decoration: none;
    color: #0e0e0e;
    font-weight: 500;
  }
  #menu .fa-caret-right {
    display: inline;
  }
  #menu .fa-caret-down {
    display: none;
  }
  #menu .home-sub-menu, .pages-sub-menu {
    display: none;
  }
  #menu .search, .cart {
    display: none;
  }
}
  
  /*Navbar Seaarch  son*/
  
  #menu .fa-caret-right {
    display: none;
  }
  #menu a {
    text-decoration: none;
  }
  #menu .primary-menu-li ul li a {
    color: #737373;
  }
  #menu .primary-menu-li ul li a::after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background: #737373;
    transition: 400ms;
  }
  #menu .primary-menu-li ul li a:hover::after {
    width: 60%;
  }
  #menu .primary-menu-li > a {
    padding: 45px 12px;
  }
  .nav-menu .primary-menu-li:hover .pages-sub-menu {
    display: block;
    opacity: 1;
  }
  .nav-menu:hover {
    cursor: pointer;
  }

@media (max-width: 1203px) {
  header {
    width: 100%;
    height: 69px;
    align-items: center;
    display: flex;
    /* z-index: 1; */
    background-color: white;
  }
  #menu {
    width: 0;
    max-width: 0;
    min-width: 0;
    padding: 0;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #111;
    box-sizing: border-box;
    transition: 0.5s;
    background-color: #fff;
  } */
  /*SwipeSlider */
  #collage-slider-section .swiper-button-next, .swiper-button-prev {
    display: none;
  }
  /*Swipe Slider Son */
  #menu .primary-menu-li .shop-sub-menu {
    display: none;
  }
  #menu .nav-menu li {
    margin: 24px;
  }
  #menu .shop-sub-menu h6 {
    text-transform: uppercase;
    cursor: pointer;
    color: #8b8b8b;
  }
  #menu .primary-menu-li .shopping-cart-m {
    display: none;
  }
  #menu .primary-menu-li .shop-sub-menu .row {
    display: block !important;
  }
  #menu .shop-sub-menu ul li {
    display: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  #menu .shop-sub-menu ul li a {
    color: #8b8b8b;
  }
  #menu .home-sub-menu ul li {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  #menu .home-sub-menu ul li a {
    color: #8b8b8b;
  }
  #menu .pages-sub-menu ul li {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  #menu .pages-sub-menu ul li a {
    color: #8b8b8b;
  }
  #logo img {
    width: 212px !important;
    height: 25px !important;
  }
  #menu .fa-times {
    position: fixed;
    top: 3%;
    right: 5%;
    color: #f34f3f;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  #menu .fa-bars {
    position: fixed;
    top: 3%;
    right: 5%;
    color: #6d6a6a;
    font-size: 22px;
    cursor: pointer;
  }
  #menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  #menu a {
    text-decoration: none;
    color: #0e0e0e;
    font-weight: 500;
  }
  #menu .fa-caret-right {
    display: inline;
  }
  #menu .fa-caret-down {
    display: none;
  }
  #menu .home-sub-menu, .pages-sub-menu {
    display: none;
  }
  #menu .search, .cart {
    display: none;
  }
}
/* Navbar Style Son */



/* Title start  */
.title{
    width: 100%;
    height: 300px;
    padding-top: 100px;
    background-color:#dbd4d4;
}
.title .text{
    padding-top: 50px;
}
.title .text h1{
    font-family: "Playfair Display",serif;
}
.title .text span{
    font-family: Lora,serif;
    color: #6d6a6a;
}
/* Title end  */


/* categories start */
.categories a{
  text-decoration: none;
  color:#6d6a6a;
  list-style: none;
  
}
.categories a :hover{
  color: #f34f3f;
}

.comments li{
  justify-content: space-between;
}
/* categories end  */

.choice{
  background-color:#dbd4d4; 
  height: 200px;
  padding-top: 80px;
  font-family: "Playfair Display",serif;
}

.blog7 img{
  width:800px ;
}

.message h1{
  font-family: "Playfair Display",serif;
}
.message span{
  font-family: 'Lora', serif;
}


/* footer side start */
footer {
  background-color: #fefaf3;
}

.container-holder {
  padding-top: 90px;
}

.container-holder .row .holder-header {
  color: #1b1b1b;
  font-family: 'Lora', serif;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.container-holder .row .holder-header h6 {
  font-size: 12px;
  padding-bottom: 15px;
}

.container-holder .row .holder-text .menu li {
  list-style: none;
  font-size: 12px;
  color: #8b8b8b;
  font-family: 'Lora', serif;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-left: -32px;
  cursor: pointer;
}

.container-holder .row .holder-text .menu li:hover {
  color: #f34f3f;
}

.line hr {
  height: 1px;
  width: 1300px;
  padding-left: 50px;
  margin-top: 100px;
  color: #afafaf;
}

.container-conclusion{
  padding-top: 25px;
  padding-bottom: 25px;
}

.container-conclusion .row .text-widget .all-rights-reserved {
  list-style: none;
  font-size: 12px;
  color: #8b8b8b;
  font-family: 'Lora', serif;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.container-conclusion .row .text-widget .qode-int{
  list-style: none;
  font-size: 12px;
  color: #6d6a6a;
  font-family: 'Lora', serif;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.container-conclusion .insta a {
  list-style: none;
  font-size: 12px;
  color: #8b8b8b;
  font-family: 'Lora', serif;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-decoration: none;
  margin-left: 195px;
}

.container-conclusion .fb a {
  list-style: none;
  font-size: 12px;
  color: #8b8b8b;
  font-family: 'Lora', serif;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-decoration: none;
  margin-left: 60px;
}

.container-conclusion .footer-img img{
  margin-left: 110px;
}

.container-conclusion .social-media{
  display: flex;
}
 /* footer side end */